BODY, P, DIV, OL LI, UL LI, TD, TH,H1,H2,H3,H4,H5, H6{
font-family: "Segoe UI","Corbel", "Helvetica Neue", sans-serif; 
}



BODY { margin : 0px;}

.page_container {
  width: 98%;
  max-width: 960px;
  margin: 0 auto;
}

BODY,P,UL LI, OL LI, TD, TH, DIV {
    font-family: "Alegreya";
}

A { color: #C01; }

.content { margin: 0.6em 0;}

.footer,.header {
  min-height: 100px;
  background-color: #A01;
  color:white;
}

div.footer {
    margin-top: 1em !important;
}

.sidebar { 
  width : 25%;
  float:left;
}

.posts {
  width: 73%;
  float:right;
  margin-bottom: 1em;
}

.paginator ul.pagination {
  list-style-type: none;
  margin:0px;
  padding: 0px;
  width:100%;
  float:left;  
}

.paginator ul.pagination LI {
  padding: 2px 10px;
  min-width:3em;
  font-weight:bold;
  text-align:center;
 /* font-family: "MgOpen Cosmetica", "Segoe UI","Corbel", "Helvetica Neue", sans-serif;*/

  float:left;
  background-color: #EEE;
  border: 1px dotted #C01;
  margin: 0px 4px 4px 0px;
}


.topmenu {
  background-color: #C01;
  color: white;
  height:auto;
  width:100%;
  margin-bottom: 1em;
}

.topmenu A { color:white;}
.topmenu H3, .topmenu DIV  { 
  display: inline-block; 
  font-weight: 600;
}
.topmenu H3 { 
  font-weight: 600;
}
.topmenu ul.pages-menu {
  margin: 0px;
}
.topmenu LI { 
  display: inline-block; 
  margin: 0.5em;
  font-style: italic;
}

.main-sidebar ul {
  margin: 1em 0;
  list-style-type: none;
}

.main-sidebar ul LI {
  text-align: left;
  border-bottom: 1px dotted #c01;
  padding: 0.2em 0;
}

.main-sidebar ul LI:hover {
  background-color: #EEE;
}

A {
  color: #C01;
}

A:hover {
  text-decoration: underline;
}

.post-item .block {
  width: 100%;
  
}

.post-item .info {
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 1px dotted #c01;
  margin-bottom: 1em;
}

.post-item .info .published {
  width: 60%;
}

.post-item .info .leggi-tutto  {
}

nav.nav { background-color: #C01; color:white; font-weight: bold;}
nav.nav A { background-color: #C01; color:white; font-weight: bold; font-size: 1em;}
nav.nav a.current { background-color:#c01;}

div.title-hero {
  margin: 0px;
  background-color: #401;
  color: white;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: -2px;
  text-transform: :uppercase;
  display:table;
  width:100%;
  height: 90%;
}

div.title-hero H1 {
  margin: 1em 0px;
  
}

.block H2 A { text-decoration: none; }